*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
}
nav{
    height: 60px;
    background-color: rgb(54, 54, 54);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
nav .lista ul{
    display: flex;
    list-style: none;
    color: white;
}

nav .lista ul li{
    padding: 0 15px;
    margin-bottom: 10px;
    font-size: 13px;
}
.icons{
    display: block;
    text-align: center;
    font-size: 20px;
}
nav .lista ul li:last-child{
    margin-bottom: 0;
    padding: 0;
}
.botton{
    height: 60px;
    width: 100px;
    background-color: lightgray;
    color: red;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
}
main{
    background-color: black;
    flex-grow: 1;
    display: flex;
}
.box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 15px;
}
.picture{
    width: 180px;
    height: 100px;
    border: 1px solid white;
    margin: 30px 0;
}