*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
}
nav{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: rgb(43, 43, 43);
    color: white;
}
nav .lista ul{
    list-style: none;
    display: flex;
}
nav .lista ul li{
    padding: 0 8px;
    margin-bottom: 10px;
}
nav .lista ul li:last-child{
    margin-bottom: 0;
    padding: 0;
}
.icons{
    text-align: center;
    display: block;
    font-size: 20px;
}
.botton{
    display: flex;
    align-items: center;
    justify-content: center;
    color:red;
    width: 110px;
    height: 60px;
    background-color: rgb(92, 92, 92);
    font-weight: bold;
}
.botton:hover{
    background-color: lightgray;
}
nav .lista ul li a{
    text-decoration: none;
    color: white;
}
nav .lista ul li .botton a{
    color: red;
}
nav .lista ul li .arrow{
    font-size: 10px;
}
main{
    background-color: black;
    flex-grow: 1;
}
.box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px 5px;
}
.picture{
    width: 180px;
    height: 90px;
    margin: 20px 2px;
    background-image: url(./img/bandiera.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.box-item{
    width: 90px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    line-height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 13px;
}