*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
}
nav{
    height: 60px;
    background-color: rgb(143, 135, 135);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
nav .lista:first-child, nav .lista:last-child{
    flex-basis: 200px;
}
nav .lista ul{
    display: flex;
    list-style: none;
    color: white;
    border: 1px solid black;
    padding: 0 15px;
}
.botton{
    height: 60px;
    color: red;
    line-height: 60px;
}
main{
    background-color: black;
    flex-grow: 1;
}